.headlines {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: #003057;
}

.links{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #af0061;
}